<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link href="styles/register.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      .container {
        height: 800px !important; /* Increased height for all fields */
      }
      .formbox {
        height: 100% !important; /* Take full height of container */
      }
      /* Adjusted responsive styles */
      @media screen and (max-width: 650px) {
        .container {
          height: 120vh !important; /* Adjusted mobile height */
          width: 90% !important;
        }
        .formbox {
          height: 85% !important; /* Adjust formbox height in mobile */
        }
      }
    </style>
  </head>
  <body>
    <%- include('includes/header') %>
    <div class="container">
      <div class="formbox register">
        <form action="/api/doctors/register" id="registerform" method="POST">
          <h1>Doctor Registration</h1>
          <% if (req.query.error === "UsernameTaken") { %>
          <div class="error">Username already taken.</div>
          <% } else if (req.query.error === "Length") { %>
          <div class="error">
            Password should contain more than 8 characters.
          </div>
          <% } else if (req.query.error === "MissingFields") { %>
          <div class="error">Please fill out all required fields.</div>
          <% } %>
          <div class="inputbox">
            <input
              type="text"
              placeholder="Name"
              required
              name="name"
              id="register-name"
            />
            <i class="bx bxs-user"></i>
          </div>
          <div class="inputbox">
            <input
              type="text"
              placeholder="Username"
              required
              name="username"
              id="register-username"
            />
            <i class="bx bxs-user"></i>
          </div>
          <div class="inputbox">
            <input
              type="email"
              placeholder="Email"
              required
              name="email"
              id="register-email"
            />
            <i class="bx bxs-envelope"></i>
          </div>

          <div class="inputbox">
            <input
              type="password"
              placeholder="Password"
              required
              name="password"
              id="register-password"
            />
            <i class="bx bxs-lock-alt"></i>
          </div>
          <div class="inputbox">
            <select name="specialization" required>
              <option value="">Select Speciality</option>
              <option value="General practitioner">General practitioner</option>

              <option value="Dentistry">Dentistry</option>
              <option value="Neurology">Neurology</option>
              <option value="X-Ray">X-Ray</option>
              <option value="Dermatology">Dermatology</option>
              <option value="Urology">Urology</option>
              <option value="Psychiatry">Psychiatry</option>
            </select>
          </div>

          <div class="inputbox">
            <select name="qualification" required>
              <option value="">Select Qualification</option>
              <option value="MBBS">MBBS</option>
              <option value="MBBch">MBBch</option>
              <option value="MD">MD</option>
              <option value="DO">DO</option>
            </select>
          </div>
          <div class="inputbox">
            <input
              type="text"
              placeholder="Experience (e.g., 5 years)"
              required
              name="experience"
            />
          </div>
          <div class="inputbox">
            <input type="text" placeholder="Location" name="location" />
          </div>

          <div class="inputbox">
            <input
              type="tel"
              placeholder="Phone Number"
              required
              name="phone"
            />
            <i class="bx bxs-phone"></i>
          </div>
          <div class="inputbox">
            <input
              type="text"
              placeholder="Affiliated Hospital"
              required
              name="hospital"
            />
            <i class="bx bxs-building"></i>
          </div>
          <div class="inputbox">
            <input
              type="number"
              placeholder="Consultation Fees"
              required
              name="fees"
            />
            <i class="bx bxs-dollar-circle"></i>
          </div>
          <div class="inputbox">
            <input
              type="text"
              placeholder="Profile Image URL (e.g., /images/one.jpg)"
              required
              name="image"
            />
            <i class="bx bxs-image"></i>
          </div>
          <div class="inputbox">
            <select name="availability" required>
              <option value="">Select Availability</option>
              <option value="Morning">Morning</option>
              <option value="Afternoon">Afternoon</option>
              <option value="Evening">Evening</option>
              <option value="Full Day">Full Day</option>
            </select>
          </div>
          <input type="hidden" name="responseType" value="redirect" />
          <button type="submit" class="btn">Register</button>
          <p>or register with social platforms</p>
          <div class="socialicons">
            <a href="https://accounts.google.com/" target="_blank"
              ><i class="bx bxl-google"></i
            ></a>
            <a href="https://www.facebook.com/" target="_blank"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a href="https://github.com/login" target="_blank "
              ><i class="bx bxl-github"></i
            ></a>

            <a href="https://www.linkedin.com/login" target="_blank"
              ><i class="bx bxl-linkedin"></i
            ></a>
          </div>
        </form>
      </div>
      <div class="toggle-box">
        <div class="toggle-panel toggle-right">
          <h1>Welcome Back!</h1>
          <p>Already have an account?</p>

          <a href="/doctorLogin">
            <button class="btn login-btn">Login</button>
          </a>
        </div>
      </div>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
